importFrom(Rcpp, evalCpp)
importFrom("stats", "ks.test", "quantile", "var")
useDynLib(ModPGMInference, .registration = TRUE)
export(ModPGMInference)
export(ModPGMSampler)
export(ModPGM_true_sd)
export(Preprocess)
